src/conf/xml-resources/web-service-references/WSDISPONIBILIDAD/wsdl/localhost_31439/WSOKCasa/WSDISPONIBILIDAD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="ListarAgenda" type="tns:ListarAgenda"/>

<xs:element name="ListarAgendaResponse" type="tns:ListarAgendaResponse"/>

<xs:complexType name="ListarAgenda">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarAgendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:agenda" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agenda">
<xs:sequence>
<xs:element name="dia" type="tns:date" minOccurs="0"/>
<xs:element name="disponible" type="xs:string" minOccurs="0"/>
<xs:element name="hora" type="xs:string" minOccurs="0"/>
<xs:element name="id_agenda" type="xs:int"/>
<xs:element name="id_equipo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>
</xs:schema>